<h1>for-inputs -</h1>

<h4>{{token}}</h4>

<code>
  \{{for-inputs on-change=(action 'tokenChanged') length=8 autofocus=true}}
</code>

{{for-inputs on-change=(action 'tokenChanged') length=8 autofocus=true}}
